.chooseRole {
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 14px;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: unset;
}

::ng-deep .mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
    background-color: rgb(170, 33, 197);
}
@media screen and (max-width: 800px) {
    .btn {
        width: 100%;
    }
}