.btn {
    margin-left:25% !important;
}
h5{
    margin:auto;
}
.btn{
    background-color:#6200EE ;
    color:#FFF;
    display:inline-block;
    
  }
  @media screen and (max-width: 800px) {
    .btn {
        width: 100%;
        margin-bottom: 2%;
        margin-left:0% !important;

    }
}