<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="material-icons">vpn_key</i>
        </div>
        <h4 class="card-title">{{ls.strings.default.modifyPass_title}}</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <button  style="background-color:#79c40e; color:#FFF" mdbBtn mdbWavesEffect type="submit" class="btn" (click)="sendPassword()">{{ls.strings.default.modifyPass_send}}</button>
          </div>
          <div class="col-md-6">
            <button  mdbBtn mdbWavesEffect type="submit" class="btn" (click)="cancel()">{{ls.strings.default.modifyPass_cancel}}</button>
          </div>
        </div>
      </div>
    </div>