<div class="wrapper">
    <div class="main-content">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">{{ls.strings.default.changePassword_title}}</h4>
                        <p class="card-category">{{ls.strings.default.changePassword_lowTitle}}</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="passwordManagement">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="temporaryPassword"
                                            placeholder="{{ls.strings.default.changePassword_temporaryPass}}" type="password">
                                        <!--  <mat-error *ngIf="passwordManagement.get('password')?.invalid">Parola trebuie sa
                                        aiba minim 8 cifre, 1 upper case, 1 lower case si un caracter special!
                                    </mat-error> -->

                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput
                                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9].*?[0-9])(?=.*[./;~$#@$!%*?&].*?[./;~$#@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}$"
                                            formControlName="password"
                                            placeholder="{{ls.strings.default.changePassword_newPass}}" type="password">
                                        <mat-error *ngIf="passwordManagement.get('password')?.invalid">
                                            {{ls.strings.default.changePassword_newPassTypeError}}
                                        </mat-error>

                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput
                                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9].*?[0-9])(?=.*[./;~$#@$!%*?&].*?[./;~$#@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}$"
                                            formControlName="confirmPassword"
                                            placeholder="{{ls.strings.default.changePassword_confirmPassword}}" type="password">
                                        <mat-error *ngIf="passwordManagement.get('confirmPassword')?.invalid">
                                            {{ls.strings.default.changePassword_confirmPassError}}</mat-error>

                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button style="background-color:#79c40e; color:#FFF" mat-raised-button type="submit" class="btn  pull-right"
                                        (click)="changePassword()">{{ls.strings.default.changePassword_editPassBtn}}</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>