<div class="wrapper">
    <div class="main-content">

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">{{ls.strings.default.recoverPassword_title}}</h4>
                        <p class="card-category">{{ls.strings.default.recoverPassword_lowTitle}}</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="recovery">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="identification" placeholder="Userid/Email"
                                            type="text">
                                        <mat-error *ngIf="recovery.get('identification')?.invalid">
                                            {{ls.strings.default.recoverPassword_recoverError}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button style="background-color:#79c40e; color:#FFF" mat-raised-button type="submit" class="btn  pull-right"
                                        [disabled]="!isValid()"
                                        (click)="recoverPassword()">{{ls.strings.default.recoverPassword_recoverBtn}}</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>