.row {
    display: inline-block;
}
.forgotPass {
    color :black;
    margin:auto;
    cursor:pointer;
    font-size: 12px;
}
.text-danger {
    font-size:11px;
}
.login{
    background-color:#6200EE ;
    color:#FFF

}