<div class="logo">
    <img src="/assets/img/logo_new.png" />

</div>


<div class="sidebar-wrapper" *ngIf="!isLoggedIn()">
    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item">
            <a class="nav-link">



                <a  *ngIf="!isLoggedIn()" (click)="openLoginForm()">
                    <i class="material-icons">person</i>Login</a>


            </a>
        </li>
    </ul>

</div>
<div *ngIf="isLoggedIn()" class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
       
        <form class="navbar-form">
            <span class="bmd-form-group">
                <img class="language3" (click)="changeToFrench()" />
                <img class="language1" (click)="changeToEnglish()"  />
                <img class="language2" (click)="changeToRomanian()" />

            </span>
          
        </form>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of authService.viewRoutes" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
                
            </a>
           
        </li>
        <li routerLinkActive="active" nav-item>
            <a class="nav-link" href = "https://smartair.live/SmartAir-API.html">
                <i class="material-icons">{{APIROUTES.icon}}</i>
                <p>{{APIROUTES.title}}</p>
                
            </a>
           
        </li>

        <li *ngIf="isMobileMenu()" class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">remove_red_eye</i> {{authService.impersonateRole.getName()}}
            
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <li *ngFor="let role of authService.roles">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeImpersonate(role)">{{role.getName()}}</a></li>


            </div>
        </li>
        
        <li *ngIf="isMobileMenu()" class="nav-item">
            <a class="nav-link" (click)="logout();">


                <p class="d-lg-none d-md-block">
                    <i class="material-icons">person</i> <span class="d-lg-none d-md-block">Logout</span>
                </p>

            </a>
            
        </li>
        
    </ul>
</div>

